{% load staticfiles %}
{% load bootstrap3 %}
<html lang="en">

<head>
  <title>farbox - 在云端的生活</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'FarboxWeb/bootstrap/css/bootstrap.min.css' %}"/>
    <script src="{% static 'FarboxWeb/bootstrap/js/bootstrap.min.js' %}"> </script>
</head>

<body>
{% csrf_token %}
<h1>Username: {{ username }}</h1>
<ul>
    {% for file in files %}
    <li class="list-group-item">
        {{file.path_name}}
    </li>
    {% endfor %}
</ul>
<p><a href="../upload">upload</a></p>
<p><a href="../logout">logout</a></p>
</body>
</html>