{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>farbox - 在云端的生活</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'FarboxWeb/bootstrap/css/bootstrap.min.css' %}"/>
    <script src="{% static 'FarboxWeb/bootstrap/js/bootstrap.min.js' %}"> </script>
</head>

<body>

<div class="container">
    <div class="jumbotron">
        <h1>Welcome to farbox!</h1>
        <h2><a href="login">登录</a></h2>
        <h2><a href="register">注册</a></h2>
    </div>

    <div class="col-sm-4">
      <h2>让我们拥抱在云端的生活</h2>
      <p >安全、可靠、快速的文件同步和共享</p>
      <p>文件组织成资料库。每个资料库可选择性的同步到任意设备。可靠高效的文件同步将提高您的工作效率</p>
    </div>
</div>

<!-- 角标的书写 -->
<div class="footer">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <span>&copy; 2016 farbox</span>
    <span class="dot">·</span>
    <a target="_parent" href="login">登录</a>
    <span class="dot">·</span>
    <a target="_blank" href="register">注册</a>
    <span class="dot">·</span>
    <a target="_top" href="aboutus">关于我们</a>

</div>

</body>
</html>