{% load staticfiles %}
{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户登录</title>
</head>

<link rel="stylesheet" type="text/css" href="{% static 'account/bootstrap/css/bootstrap.css' %}"/>
<body >
<div class="page-header">
<div class="row">

        <div class="col-sm-12">
                     <h1 >登录</h1>
        </div>
</div>
</div>


{# Display a form #}
<form action="" method="post" class="form" >
  {% csrf_token %}
  {% bootstrap_form form%}
  {% buttons %}
    <button type="submit" class="btn btn-success">
      {% bootstrap_icon "star" %} Login
    </button>
    </br> </br></br>
  {% endbuttons %}
</form>

<div class="footer" style="position:fixed;bottom:40px;">
    <div class="btn-gruop">
        <a href="../#" class="btn btn-primary">{% bootstrap_icon "home" %} HOME </a>
        <a href="../register" class="btn btn-success">{% bootstrap_icon "envelope" %} 没有账号?点击注册 </a>
        <a href="../find_secret" class="btn btn-danger">
            <span class="glyphicon glyphicon-search"></span>
            忘记密码?
        </a> <!-- find_secret为找回密码未实现 -->
        </button>
    </div>
</div>

</body>
</html>
