{% load staticfiles %}
{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>注册</title>
</head>

<link rel="stylesheet" type="text/css" href="{% static 'FarboxWeb/bootstrap/css/bootstrap.css' %}"/>
<body>
<h1>注册页面：</h1>

<form action="" method="post" class="form">
  {% csrf_token %}
  {% bootstrap_form form%}
  {% buttons %}
    <button type="submit" class="btn btn-primary">
      {% bootstrap_icon "star" %} Submit
    </button>
  {% endbuttons %}
</form>
  <p><a href="../login">login</a></p>
</body>
</html>
