{% load staticfiles %}
{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>注册</title>
</head>

<link rel="stylesheet" type="text/css" href="{% static 'FarboxWeb/bootstrap/css/bootstrap.css' %}"/>
<body>
<div class="page-header">
<div class="row">
        <div class="col-sm-12">
                     <h1 >注册</h1>
        </div>
</div>
</div>

<form action="" method="post" class="form">
  {% csrf_token %}
  {% bootstrap_form form%}
  {% buttons %}
    <button type="submit" class="btn btn-primary">
      {% bootstrap_icon "star" %} Submit
    </button>
  {% endbuttons %}
</form>


<div class="footer" style="position:fixed;bottom:40px;">
    <div class="btn-gruop">
        <a href="../#" class="btn btn-primary">{% bootstrap_icon "home" %} HOME </a>
        <a href="../login" class="btn btn-danger">
            <span class="glyphicon glyphicon-plane"></span>
            Login
        </a> <!-- find_secret为找回密码未实现 -->
        </button>
    </div>
</div>

</body>
</html>
